<section class="home-section" id="home">
    <div class="container">
        <div class="home-wrapper">
            <h1 class="home-title">Stay on Beat. Keep It Moving.</h1>
            <p class="home-text">Miss the rhythm — lose the flow. Conducting your own concert has never been this intense.</p>
        </div>
    </div>
</section>
<section class="about-section" id="about">
    <div class="container about-container">
        <div class="about-wrapper">
            <h2 class="about-title">About the Game</h2>
            <h3 class="about-subtitle">Music becomes
            movement</h3>
            <p class="about-text">But here's the thing that got me hooked - when you actually nail the timing, the whole screen just explodes with life.
            The better the timing, the bigger and more dynamic the parade becomes. <span class="about-span">You're basically conducting your own little concert</span>, and trust me, one missed beat and everything falls apart.
        </p>
        </div>
<picture>
    <source srcset="
        /img/about/desk.png  1x,
        /img/about/desk@2x.png 2x
        " media="(min-width: 1439px)" />
    <source srcset="
        /img/about/mob.png  1x,
        /img/about/mob@2x.png 2x
        " media="(max-width: 1438px)" />
    <img src="/img/about/mob.png" alt="Beet Parade" loading="lazy" />
</picture>
    </div>
</section>
<section class="how-section" id="how">
    <div class="container">
        <h2>How to Play</h2>
        <h3>Listen, tap, flow</h3>
<div class="swiper how-swiper">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <p class="how-number">01</p>
            <p class="how-slide-title">Follow the Beat</p>
            <p class="how-slide-text">Tap in sync with the rhythm</p>
        </div>
        <div class="swiper-slide s2">
            <p class="how-number h2">02</p>
            <p class="how-slide-title">Build the Parade</p>
            <p class="how-slide-text">Accurate timing adds new characters</p>
        </div>
        <div class="swiper-slide s3">
            <p class="how-number h3">03</p>
            <p class="how-slide-title">Keep the Combo</p>
            <p class="how-slide-text">Maintain streaks for stronger effects</p>
        </div>
        <div class="swiper-slide s4">
            <p class="how-number h4">04</p>
            <p class="how-slide-title">Avoid Misses</p>
            <p class="how-slide-text">Mistakes reduce energy and momentum</p>
        </div>
        <div class="swiper-slide s5">
            <p class="how-number h5">05</p>
            <p class="how-slide-title">Complete Tracks</p>
            <p class="how-slide-text">Finish songs with the highest score</p>
        </div>
    </div>
</div>
    </div>
</section>