<section class="home-section" id="home">
    <div class="container">
        <div class="home-wrapper">
            <h1 class="home-title">Stay on Beat. Keep It Moving.</h1>
            <p class="home-text">Miss the rhythm — lose the flow. Conducting your own concert has never been this intense.</p>
        </div>
    </div>
</section>
<section class="about-section" id="about">
    <div class="container about-container">
        <div class="about-wrapper">
            <h2 class="about-title">About the Game</h2>
            <h3 class="about-subtitle">Music becomes
            movement</h3>
            <p class="about-text">But here's the thing that got me hooked - when you actually nail the timing, the whole screen just explodes with life.
            The better the timing, the bigger and more dynamic the parade becomes. <span class="about-span">You're basically conducting your own little concert</span>, and trust me, one missed beat and everything falls apart.
        </p>
        </div>
<picture>
    <source srcset="
        /img/about/desk.png  1x,
        /img/about/desk@2x.png 2x
        " media="(min-width: 1439px)" />
    <source srcset="
        /img/about/mob.png  1x,
        /img/about/mob@2x.png 2x
        " media="(max-width: 1438px)" />
    <img src="/img/about/mob.png" alt="Beet Parade" loading="lazy" />
</picture>
    </div>
</section>