body{
background: #1a1a2e;
  font-family: "Hanken Grotesk", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55556;
    color: #d4c0d7;
}
h2{
  font-family: "Hanken Grotesk", sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 1.5;
    text-transform: uppercase;
    text-align: center;
    color: #ff007a;
    margin-bottom: 12px;
}
h3{
  font-family: "Anybody", sans-serif;
    font-weight: 800;
    font-size: 44px;
    line-height: 1.13636;
    letter-spacing: -0.01em;
    text-align: center;
    color: #fff;
margin-bottom: 32px;
}
@media only screen and (min-width: 1440px) {
  h3{
    margin-bottom: 54px;
  }
}