.footer {
background: #0d0d15;
}
.footer-container{
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.footer-wrap{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding-bottom: 32px;
  border-bottom: 1px solid #7c3aed;
}
.footer-navigation{
  display: flex;
  justify-content: center;
  gap: 12px;
  font-size: 16px;
    line-height: 1.625;
}
.footer-wrap-two{
  display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}
.footer-text{
font-size: 14px;
  line-height: 1.42857;
}
@media only screen and (min-width: 1440px) {
.footer-container{
  padding-top: 48px;
  padding-bottom: 48px;
  gap: 48px;
}
.footer-wrap{
flex-direction: row;
justify-content: space-between;
  padding-bottom: 48px;
}
.footer-navigation{
gap: 32px;
}
.footer-wrap-two{
flex-direction: row-reverse;
justify-content: space-between;
}
}