.home-section{
    background-image: url("/img/home/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 812px;
}
.home-wrapper{
    margin-top: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}
.home-title{
font-family: "Anybody", sans-serif;
    font-weight: 900;
    font-size: 48px;
    line-height: 1;
    letter-spacing: -0.03em;
    text-align: center;
    color: #fff;
    text-shadow: 0 0 30px  #7c3aed;
}
.home-text{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    color: #a3e635;
}
@media only screen and (min-width: 1440px) {
.home-section{
    background-image: url("/img/home/desk.png");
height: 956px;
}
.home-wrapper{
    margin-top: 210px;
width: 800px;
margin-left: auto;
margin-right: auto;
}
.home-title{
font-size: 80px;
    line-height: 1.1;
    letter-spacing: -0.02em;
}
.home-text{
width: 436px;
}    
}
/* About the Game */
.about-container{
    padding-left: 0;
    padding-right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}
.about-wrapper{
width: 343px;
}
.about-title{
    text-align: left;
}
.about-subtitle{
    text-align: left;
    color: #a3e635;
    margin-bottom: 12px;
}
.about-span{
color: #ff007a;
}
@media only screen and (min-width: 1440px) {
.about-container{
flex-direction: row-reverse;
justify-content: center;
gap: 64px;
padding-bottom: 120px;
}
.about-wrapper{
width: 534px;
}   
}
/* How to Play */
.how-section{
background: #0d0d15;
}
.how-swiper .swiper-slide{
border: 1px solid #ff4e4e;
    border-radius: 24px;
    padding: 32px 12px;
    width: 246px !important;
    height: 260px !important;
background: #1a1a2e;
}
.how-number{
font-family: "Outfit", sans-serif;
    font-weight: 900;
    font-size: 48px;
    color: #ff4e4e;
    margin-bottom: 30px;
}
.how-slide-title{
font-family: "Anybody", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16667;
    color: #fff;
    margin-bottom: 12px;
}
.how-swiper .s2{
border: 1px solid #7c3aed;
}
.h2{
color: #7c3aed;
}
.how-swiper .s3 {
border: 1px solid #faff00;
}

.h3 {
    color: #faff00;
}
.how-swiper .s4 {
border: 1px solid #a3e635;
}

.h4 {
    color: #a3e635;
}
.how-swiper .s5 {
border: 1px solid #fff;
}

.h5 {
    color: #fff;
}
@media only screen and (min-width: 1440px) {
 .how-swiper .swiper-wrapper{
    gap: 12px;
    justify-content: center;
 }
}
/*  Features */
.features-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}
.features-item{
border-radius: 24px;
    padding: 40px;
    width: 343px;
    height: 296px;
    background: #0d0d15;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.features-item-wrapper{
    display: flex;
    flex-direction: column;
}
.features-item-title{
font-family: "Anybody", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16667;
    color: #fff;
    margin-top: 32px;
    margin-bottom: 8px;
}
@media only screen and (min-width: 1440px) {
.features-list{
flex-direction:row ;
justify-content: center;
flex-wrap: wrap;
gap: 32px;
row-gap: 36px;
}
.features-item{
width: 343px;
    height: 244px;
}
.f1{
    flex-direction: row;
    align-items: start;
    width: 531px;
        height: 172px;
        gap: 32px;
}
.ft1{
    margin-top: 0;
}
}
/* Music Styles */
.music-subtitle{
    margin-bottom: 12px;
}
.music-text{
font-weight: 500;
    font-size: 20px;
text-align: center;
}
.music-list{
    margin-top: 32px;
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.music-item{
border-radius: 24px;
    padding: 40px;
    width: 343px;
    height: 276px;
    background: #ff4e4e;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
font-family: "Anybody", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16667;
    text-align: center;
    color: #0d0d15;
}
.m2{
background: #7c3aed;
}
.m3{
background: #a3e635;
}
.m4{
background: #faff00;
}
.music-text-two{
    text-align: center;
}
@media only screen and (min-width: 1440px) {
.music-list{
    margin-top: 54px;
    margin-bottom: 54px;
 flex-direction: row;
 justify-content: center;
}
.music-item{
width: 311px;
    height: 276px;
}
.m2{
background: #7c3aed;
}
.m3{
background: #a3e635;
}
.m4{
background: #faff00;
}
.music-text-two{
    text-align: center;
}    
}
/* Advantages */
.advantages-section{
background: #0d0d15;
}
.advantages-list{
    display: flex;
flex-direction: column;
gap: 8px;
align-items: center;
}
.advantages-item{
border: 2px solid #7c3aed;
    border-radius: 24px;
    padding: 40px 34px 40px 32px;
    width: 343px;
    height: 236px;
background: #1a1a2e;
}
.advantages-item-title{
font-family: "Anybody", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16667;
    color: #a3e635;
margin-bottom: 16px;
}
.desk{
    display: none;
}
@media only screen and (min-width: 1440px) {
.advantages-list{
flex-direction: row;
gap: 32px;
flex-wrap: wrap;
justify-content: center;
}
.advantages-item{
padding: 40px;
    width: 624px;
    height: 180px;
}
.desk {
    display: block;
}
.mob{
    display: none;
}  
}
/* Player Benefits */
.benefits-section{
background: #a3e635;
}
.benefits-title{
color: #0d0d15;
}
.benefits-subtitle{
color: #0d0d15;
}
.benefits-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}
.benefits-item{
border-radius: 100px;
    padding: 20px 28px;
    width: 343px;
    height: 68px;
background: #0d0d15;
    display: flex;
    align-items: center;
    gap: 12px;
    color: #fff;
}
@media only screen and (min-width: 1440px) {
.benefits-list {
flex-direction: row;
justify-content: center;
flex-wrap: wrap;
gap: 16px;
}
.benefits-item {
 width: auto;
}
}
/* FAQ */
.faq-section{
background: #0d0d15;
}
.faq-acc {
    display: flex;
    flex-direction: column;
    width: 343px;
    margin: 0 auto;
    gap: 12px;
}

.faq-acc-el {
    position: relative;
    transition: margin-bottom 0.3s ease;
border-radius: 24px;
    background: #1a1a2e;
    padding: 16px;
}

.faq-acc-el-title {
    margin-bottom: 0;
}

.faq-acc-el-trigger {
    background: inherit;
    border: none;
font-family: "Anybody", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16667;
    color: #fff;
    text-align: left;
    width: 100%;
    height: auto;
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
padding: 16px;
}


.faq-acc-arr {
    display: flex;
    align-items: center;
    justify-content: center;
    background: inherit;
    transition: transform 0.3s ease;
    width: 24px;
    height: 24px;
}

.faq-acc-arr.is-hidden {
    display: none;
}

.faq-acc-el-descr-frame {
    background: none;
    text-align: left;
padding-left: 16px;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.3s ease, opacity 0.3s ease, border-bottom 0.3s ease;
}

.faq-acc-el.js-enabled .faq-acc-el-descr-frame {
    visibility: hidden;
}



.faq-acc-el.open .faq-acc-el-descr-frame {
    visibility: visible;
    opacity: 1;
    border: none;

    background: none;
   padding: 0 16px 16px;
    text-align: left;
    max-height: 500px;

}


@media only screen and (min-width: 1440px) {
    .faq-acc {
    width: 722px;
        margin: 0 auto;
    }
}